.container
  .row
    .col-sm-12.col-md-6
      %h2 Dashboard
      %br
      .well-sm
        - @positions.each do |position|
          = position.name
          %br
          = position.description
          %br
          = link_to "details", position
          %hr
  = link_to "Add a job position", new_position_path, class: "btn btn-default"