.container
  %h2 Dashboard
  = link_to "Add a job position", new_position_path, class: "btn btn-default"
  %br
  .well-sm
    - @positions.each do |position|
      = position.name
      %br
      = position.description
      %br
      = link_to "details", position
      %hr