/ = form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-horizontal") do |f|
/   = devise_error_messages!        
/   .form-group
/     = f.label :first_name, ":first name", :autofocus => true, class: '.col-sm-4.control-label'
/     .col-sm-8
/       = f.text_field :first_name, :placeholder => "first name", class: 'form-control-custom'
/   .form-group
/     = f.label :last_name, ":last name", class: '.col-sm-4.control-label'
/     .col-sm-8
/       = f.text_field :last_name, :placeholder => "last name", class: 'form-control-custom'
/   .form-group
/     = f.label :email, ":email", class: '.col-sm-4.control-label'
/     .col-sm-8
/       = f.email_field :email, :placeholder => "email", class: 'form-control-custom'
/   .form-group
/     = f.label :password, ":password", class: 'control-label.col-sm-4'
/     .col-sm-8
/       = f.password_field :password, placeholder: "password", class: 'form-control-custom'
/   .form-group
/     = f.label :password_confirmation, ":confirm", class: 'col-sm-4.control-label'
/     .col-sm-8
/       = f.password_field :password_confirmation, placeholder: "confirm", class: 'form-control-custom'
/   .form-group
/     .submit.col-sm-ofset-4.col-sm-10