%section#hero
  .container
    .row
      .well-custom.col-xs-12.col-sm-12.col-md-5.col-lg-5
        %h1#welcome-title a better hire
        %hr.thick-line
        %h2#welcome-subtitle Let us help you hire
        %p 
          %em A simple and easy to use inteview application that can help your hiring process.
      .sign-up.well-custom.col-xs-12.col-sm-12.col-md-5.col-lg-5.col-lg-offset-2.col-md-offset-2
        = render "form"
      .div
        link_to "sample", "/layouts/Narrow Jumbotron Template for Bootstrap"

%section#section-two
  .container
    .row
      .well-custom.col-xs-12.col-sm-12.col-md-8.col-lg-8
        %h1 Examples Templates to get you started.
        %p We are here to help you make the right decision for your next hire buy giving you the tools to make it easier.
