.form-group.col-md-6
  =form_for @candidate do |f|
    =f.label :first_name, "First Name"
    =f.text_field :first_name, class: "form-control"
    %br
    =f.label :last_name, "Last Name"
    =f.text_field :last_name, class: "form-control"
    %br
    =f.label :email
    =f.text_field :email, class: "form-control"
    %br
    =f.label :address
    =f.text_area :address, class: "form-control"
    %br
    =f.label :phone
    =f.text_field :phone, class: "form-control"
    %br
    =f.submit class: "btn btn-primary"
    = link_to "go back", request.referer, class: "btn btn-default"