@font-face {
  font-family: 'ambleregular';
  src: asset-url('Amble-Regular-webfont.eot');
  src: asset-url('Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       asset-url('Amble-Regular-webfont.woff') format('woff'),
       asset-url('Amble-Regular-webfont.ttf') format('truetype'),
       url('../fonts/Amble-Regular-webfont.svg#ambleregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    src:asset-url('BebasNeue-webfont.eot');
    src:asset-url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
        asset-url('BebasNeue-webfont.woff') format('woff'),
        asset-url('BebasNeue-webfont.ttf') format('truetype'),
        asset-url('BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

