%nav.navbar.navbar-default.navbar-fixed-top
  .container
    %ul.nav.navbar-nav
      %li
        =link_to "Candidates" , candidates_path, class: "navbar-link-alt"
      %li
        =link_to "Job Templates" , positions_path, class: "navbar-link-alt"
    %ul.nav.navbar-nav.navbar-right
      %li
        =link_to "Hello #{current_user.name_display}", edit_user_registration_path , class: "navbar-link"
      %li
        =link_to "sign out", destroy_user_session_path, method: :delete, class: "navbar-link-alt"
.spacer50