%ul
  %li
    =link_to "Hello #{current_user.name_display}", edit_user_registration_path , class: "navbar-link"
    =link_to "sign out", destroy_user_session_path, method: :delete, class: "navbar-link-alt"
  %li
    =link_to "Candidates" , candidates_path